<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Elite Match a Matrimonial Category Bootstrap Responsive Website Template | Codes :: W3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Elite Match Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //for-mobile-apps -->
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../css/font-awesome.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
    <!--//fonts-->

</head>
<body>
<!--banner start here-->
<div class="banner-w3ls inner-banner-agileits" id="home">
    <div class="container">
        <!-- header -->
        <div class="header-inner">
            <h1 class="logo">
                <a href="index.html">甜蜜<span>Sweet</span></a></h1>
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- navbar-header -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="../basic_message/listAll" class="active">首页</a></li>
                        <li><a href="../basic_message/zhaoboy">找男友</a></li>
                        <li><a href="../basic_message/zhaogirl">找女友</a></li>
                        <li class="dropdown menu__item">
                            <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" data-hover="Pages"
                               role="button" aria-haspopup="true" aria-expanded="false">消息中心<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="../message/qlists">消息列表</a></li>
                                <li><a href="../attention/mygz">我的关注</a></li>
                            </ul>
                        </li>
                        <li><a href="../send_paste/pinglun">交友论坛</a></li>
                        <li><a href="../combo/viptc">会员</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </nav>
            <div class="header-right-w3ls">
                <a href="../basic_message/tologin">退出</a>
                <a href="../basic_message/toRegister">注册</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//home-->
<!--banner end here-->
<!-- breadcrumbs -->
<div class="w3l_agileits_breadcrumbs">
    <div class="container">
        <div class="w3l_agileits_breadcrumbs_inner">
            <ul>
                <li>主页<span>&#187;</span></li>

                <li>消息中心</li>
            </ul>
        </div>
    </div>
</div>
<!-- //breadcrumbs -->
<!--判断当前登陆人的会员状态-->
<span th:each="lvs : ${sfvip}">
	<select name="vip" style="display: none">
		<option th:value="${lvs.vip}"></option>
	</select>
</span>
<!-- typography -->
<div class="typography elite-app">
    <div class="container">
        <div class="tittle-agileinfo">
            <h3>消 息 列 表</h3>
        </div>
        <div class="bs-docs-example wow fadeInUp animated" data-wow-delay=".5s">
            <table class="table table-hover">
                <tbody id="XTXX">
                <tr style="height: 100px;background: #bfb992">
                    <td><img src="../images/glyxx.png" style="height: 110px;width: 110px;"></td>
                    <td>
                        <div style="margin-top: 40px;font-size: 20px;font-weight: bold">系统消息</div>
                    </td>
                    <td>
                        <div th:text="${selmsg}" id="SFYC" style="display: none"></div>
                    </td>
                    <td>
                        <p style="padding-bottom: 15px;padding-top: 15px">
                            查看信息
                        </p>
                        <a data-toggle="modal" href="#Infos2"><span class="label label-info">点击查看</span></a>
                    </td>
                </tr>
                </tbody>
                <span th:each="q : ${qs}">
                        <tbody>
                            <tr style="height: 100px">
                              <td><img th:src="${q.pic}" style="height: 110px;width: 110px;"></td>
                                <td>
                                    <input type="hidden" th:value="${bmid}">
                                    <input type="hidden" name="tow" th:value="${q.tow}">
                                    <input type="hidden" name="one" th:value="${q.one}">
                                    <input type="hidden" name="VIP" th:value="${q.VIP}">
                                    <div name="bb" style="margin-top: 10px"><b>昵称:</b><b th:text="${q.bmname}"
                                                                                         name="b2"></b></div>
                                    <div style="margin-top: 10px"><b>年龄:</b><b th:text="${q.age}"></b></div>
                                    <div style="margin-top: 10px"><b>身高:</b><b th:text="${q.height}"></b></div>
                                </td>
                                <td><p style="padding-bottom: 15px;padding-top: 15px">快速找到对象</p>
                                    <a href="#" onclick="tz(this)"><span
                                            class="label label-info" style="padding-bottom: 5px">点击查看</span></a>
                                </td>
                              <td>
                                  <p style="padding-bottom: 15px;padding-top: 15px">
                                    查看信息
                                  </p>
                                  <input type="hidden" th:value="${q.tow}">
                                  <a data-toggle="modal" href="#Infos" onclick="xinxis(this)"><span
                                          class="label label-info">点击查看</span></a>
                              </td>
                            </tr>
                        </tbody>
					</span>
            </table>
        </div>
    </div>
</div>
<!--模态框-->
<div class="modal fade" id="Infos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    消息
                </h4>
            </div>
            <div class="modal-body">
                <!--主体内容-->
                <form role="form" method="post" id="Infofm">
                    <div id="con"></div>
                    <div class="form-group">
                        <!--<label for="modPhone">内容</label>-->
                        <textarea name="context" maxlength="100" id="context" placeholder="请输入你要回复的内容"
                                  style="width: 563px;height: 100px"></textarea>

                    </div>
                    <!--<button type="submit" class="btn btn-default">发送</button>-->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success" onclick="reply()">回复</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--模态框2-->
<div class="modal fade" id="Infos2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel2">
                    消息
                </h4>
            </div>
            <div class="modal-body">
                <div id="conn" th:each="sel : ${selmsg}">
                    <div style='text-align: left'>
                        <p style="padding: 0px;color: #3a87ad">系统消息</p>
                        <p style="padding: 0px;font-size: 16px" th:text="${sel.context}"></p>
                        <p style="padding: 0px;font-size: 12px;color: grey" th:text="${sel.ftime}"></p>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success" onclick="reply()">回复</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- //typography -->
<!-- footer -->
<div class="w3l_footer">
    <div class="container">
        <div class="w3ls_footer_grid">
            <div class="col-md-4 w3ls_footer_grid_left">
                <h4>位置:</h4>
                <p>Matrimonium Elite, Ipswich,<br> 河南郑州市</p>
            </div>
            <div class="col-md-4 w3ls_footer_grid_left">
                <h4>联系我们:</h4>
                <p><span>电话 : </span>505-222-5432</p>
                <p><span>电子邮箱 : </span><a href="mailto:info@example.com">info@example.com</a></p>
            </div>
            <div class="col-md-4 w3ls_footer_grid_left">
                <h4>营业时间:</h4>
                <p>工作日（上午8点至晚上9点）</p>
                <p>周日 (上午9点-下午1点)</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- footer-button-info -->
        <div class="footer-middle-agileinfo">
            <div class="footer-button">
                <div class="button-top-w3layouts">
                    <div class="logo-icons-w3ls">
                        <i class="fa fa-heart heart1" aria-hidden="true"></i>
                        <i class="fa fa-heart-o heart2" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="sim-button button12"><a href="../vip/men">联系我们</a></div>
                <h2>我们致力于提供卓越的服务.</h2>
            </div>
        </div>
        <!-- footer-button-info -->
    </div>
</div>
<!--/footer -->

<!-- js -->
<script type='text/javascript' src='../js/jquery-2.2.3.min.js'></script>

<style type="text/css">
    td {
        text-align: center;
        line-height: 100px;
    }
</style>

<script src="../js/SmoothScroll.min.js"></script>
<!-- smooth scrolling -->
<script type="text/javascript">

    //转换时间格式2
    function transferTime(cTime) {     //将json串的一串数字进行解析
        var jsonDate = new Date(parseInt(cTime));
        //       alert(jsonDate);
        //为Date对象添加一个新属性，主要是将解析到的时间数据转换为我们熟悉的“yyyy-MM-dd hh:mm:ss”样式
        Date.prototype.format = function (format) {
            var o = {
                //获得解析出来数据的相应信息，可参考js官方文档里面Date对象所具备的方法
                "y+": this.getFullYear(), //得到对应的年信息
                "M+": this.getMonth() + 1, //得到对应的月信息，得到的数字范围是0~11，所以要加一
                "d+": this.getDate(), //得到对应的日信息
                "h+": this.getHours(), //得到对应的小时信息
                "m+": this.getMinutes(), //得到对应的分钟信息
                "s+": this.getSeconds(), //得到对应的秒信息
            }
            //将年转换为完整的年形式
            if (/(y+)/.test(format)) {
                format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            }
            //连接得到的年月日 时分秒信息
            for (var k in o) {
                if (new RegExp("(" + k + ")").test(format)) {
                    format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
                }
            }
            return format;
        }
        var newDate = jsonDate.format("yyyy-MM-dd hh:mm:ss");
        return newDate;
    }

    let tow;
    let b;

    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */
        $().UItoTop({easingType: 'easeOutQuart'});
        let inp = $("input[name='tow']");
        let tows = [];

        for (let i = 0; i < inp.length; i++) {
            let tow1 = inp.eq(i).val();
            let bmid = inp.eq(i).prev().val();
            tows.push(tow1);
            if (tow1 == bmid) {
                let tby = inp.eq(i).parent("td").parent("tr").parent("tbody");
                tby.hide();
            }
        }
        for (let i = 0; i < inp.length; i++) {
            let one = inp.eq(i).next().val();
            let tow1 = inp.eq(i).val();
            if (tows.indexOf(one) < 0 && tows.length > 1) {
                let tby = inp.eq(i).parent("td").parent("tr").parent("tbody");
                inp.eq(i).parent("td").next().next().children("input[type='hidden']").val(one);
                inp.eq(i).parent("td").next().next().children("input[type='hidden']").attr("name", "yes");
                tby.show();
            } else {
                inp.eq(i).parent("td").next().next().children("input[type='hidden']").attr("name", "no");
            }
        }
        // 判断是否隐藏系统信息
        let sfyc=$("#SFYC").html();
        if(sfyc=="[]"){
            $("#XTXX").hide();
        };
    });


    //查看信 息
    function xinxis(th) {
        tow = $(th).prev().val();
        let ss;
        $.ajaxSettings.async = false;
        $.post("infos",
            {"tow": tow},
            function (data) {
                ss = data;
            }
        );
        $.ajaxSettings.async = true;
        let c = $("#con");
        let str = "";
        for (let i = 0; i < ss.length; i++) {
            let t = ss[i].context;
            let f = ss[i].ftime;
            b = ss[i].bmname;
            if (ss[i].state == 1) {
                str = str + "<div style='text-align: right'><p style=\"padding: 0px;color: #3a87ad\">" + b + "</p><p style=\"padding: 0px;font-size: 16px\">" + t + "</p><p style=\"padding: 0px;font-size: 12px;color: grey\">" + transferTime(f) + "</p></div><hr>";
            } else {
                str = str + "<div style='text-align: left'><p style=\"padding: 0px;color: #3a87ad\">" + b + "</p><p style=\"padding: 0px;font-size: 16px\">" + t + "</p><p style=\"padding: 0px;font-size: 12px;color: grey\">" + transferTime(f) + "</p></div><hr>";
            }

        }
        c.html(str);
    }

    //回复消息
    function reply() {
        //获取当前登陆人的vip状态
        let gzv=$("select[name=vip]").val();
        //如果不是会员
        if(gzv==1) {
            //跳转开通会员页面
            location.href = "../combo/viptc";
        }else {
            let c = $("#context").val();
            if (c == null || c == '' || c == undefined) {
                alert("回复信息不能为空");
            } else {
                //设置为同步
                $.ajaxSettings.async = false;
                $.post("Add",
                    {one: tow, context: c},
                    function (data) {
                        if (data != null) {
                            $("#con").append("<div style='text-align: right'><p style=\"padding: 0px;color: #3a87ad\">" + b + "</p><p style=\"padding: 0px;font-size: 16px\">" + data.con + "</p><p style=\"padding: 0px;font-size: 12px;color: grey\">" + data.time + "</p></div><hr>");
                            $("#context").val("");
                        }
                    });
                //恢复为异步
                $.ajaxSettings.async = true;
            }
        }
    }

    function tz(sd) {
        let hre = "../basic_message/findAllById?bmid=" + $(sd).parent("td").next().children("input[type='hidden']").val();
        window.location.href = hre;
    }

</script>
<p style="padding: 0px"></p>

<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover"
                                                                         style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<!-- //for-Clients -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="../js/move-top.js"></script>
<script type="text/javascript" src="../js/easing.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });


</script>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="../js/bootstrap-3.1.1.min.js"></script>


</body>
</html>