<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>register</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Elite Match Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
    </script>
    <!-- //for-mobile-apps -->
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/jquery-ui.css"/>
    <link href="../css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
    <!--//fonts-->

    <!--引入toastr   已在jy.js中引入过了-->
    <!--<link href="../css/toastr.min.css" rel="stylesheet" type="text/css" />-->
</head>
<body>
<!--banner start here-->
<div class="banner-w3ls inner-banner-agileits" id="home">
    <div class="container">
        <!-- header -->
        <div class="header-inner">
            <h1 class="logo">
                <a href="index.html">甜蜜<span>Sweet</span></a></h1>
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- navbar-header -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="../basic_message/listAll" class="active">首页</a></li>
                        <li><a href="../basic_message/zhaoboy">找男友</a></li>
                        <li><a href="../basic_message/zhaogirl">找女友</a></li>
                        <li class="dropdown menu__item">
                            <a href="#" class="dropdown-toggle menu__link"  data-toggle="dropdown" data-hover="Pages" role="button" aria-haspopup="true" aria-expanded="false">消息中心<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="../message/qlists">消息列表</a></li>
                                <li><a href="../attention/mygz">我的关注</a></li>
                            </ul>
                        </li>
                        <li><a href="../send_paste/pinglun">交友论坛</a></li>
                        <li><a href="../combo/viptc">会员</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </nav>
            <div class="header-right-w3ls">
                <a href="../basic_message/tologin">登录</a>
                <a href="../basic_message/toRegister">注册</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//home-->
<!--banner end here-->
<!-- breadcrumbs -->
<div class="w3l_agileits_breadcrumbs">
    <div class="container">
        <div class="w3l_agileits_breadcrumbs_inner">
            <ul>
                <li>登录<span>&#187;</span></li>

                <li>注册</li>
            </ul>
        </div>
    </div>
</div>
<!-- //breadcrumbs -->
<div class="login elite-app">
    <div class="container">
        <div class="tittle-agileinfo">
            <h3>注册</h3>
        </div>
        <div class="col-md-8 login-form-w3-agile">
            <form id="reForm" action="Register" method="post">
                <div class="w3_form_body_grid">
                    <span>手机号</span>
                    <input id="Phone" onblur="Phonejy()" type="text" name="Phone" placeholder="请输入您的手机号" required />
                </div>
                <div class="w3_form_body_grid w3_form_body_grid1">
                    <span>密码</span>
                    <input id="Pwdd" type="password" onblur="Pwdjy()" name="Pwd" placeholder="请输入您的密码,密码6-12位,由子母和数字组成" required />
                </div>
                <div class="w3_form_body_grid w3_form_body_grid1">
                    <span>确认密码</span>
                    <input id="qrPwdd" type="password" onblur="qrPwdjy()" name="qrPwd" placeholder="请输入确认密码,保证两次秘密要一致" required />
                </div>
                <div class="w3_form_body_grid">
                    <input type="text" id="VCD" style="margin-left: 97px" name="Vcode" placeholder="请输入您的验证码" required />
                    <span class="sim-button button12" id="getVcode" style="margin-top: 0px;width: 100px;height: 50px;line-height: 22px;text-align: center">
                        获取验证码
                    </span>
                </div>
                <input type="submit" value="注册"/>
            </form>
        </div>

        <div class="col-md-4 login-right-info">
            <h3 class="subhead-agileits">甜蜜APP，助你成功寻爱</h3>
           <p class="para-agileits-w3layouts">你的爱情，我牵线——甜蜜交友网</p>
            <ul>
                <li><i class="fa fa-check" aria-hidden="true"></i>找对象·上甜蜜·专业的·更可靠</li>
                <li><i class="fa fa-check" aria-hidden="true"></i>专注于郑州婚恋，经验丰富</li>
                <li><i class="fa fa-check" aria-hidden="true"></i>拥有受过专业的婚恋心理培训红娘</li>
                <li><i class="fa fa-check" aria-hidden="true"></i>拥有高质量的男女嘉宾</li>
            </ul>
            <div class="sim-button button12"><a href="../basic_message/tologin">登录</a></div>
        </div>
    </div>
</div>
<!--login-inner-->
<!-- footer -->
<div class="w3l_footer">
    <div class="container">
        <div class="w3ls_footer_grid">
            <div class="col-md-4 w3ls_footer_grid_left">
                <h4>位置:</h4>
                <p>Matrimonium Elite, Ipswich,<br> 河南郑州市</p>
            </div>
            <div class="col-md-4 w3ls_footer_grid_left">
                <h4>联系我们:</h4>
                <p><span>电话 : </span>505-222-5432</p>
                <p><span>电子邮箱 : </span><a href="mailto:info@example.com">info@example.com</a></p>
            </div>
            <div class="col-md-4 w3ls_footer_grid_left">
                <h4>营业时间:</h4>
                <p>工作日（上午8点至晚上9点）</p>
                <p>周日 (上午9点-下午1点)</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- footer-button-info -->
        <div class="footer-middle-agileinfo">
            <div class="footer-button">
                <div class="button-top-w3layouts">
                    <div class="logo-icons-w3ls">
                        <i class="fa fa-heart heart1" aria-hidden="true"></i>
                        <i class="fa fa-heart-o heart2" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="sim-button button12"><a href="../vip/men">联系我们</a></div>
                <h2>我们致力于提供卓越的服务.</h2>
            </div>
        </div>
        <!-- footer-button-info -->
    </div>
</div>
<!--/footer -->

<!-- js -->
<script type='text/javascript' src='../js/jquery-2.2.3.min.js'></script>


<script src="../js/SmoothScroll.min.js"></script>
<!-- smooth scrolling -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */
        $().UItoTop({easingType: 'easeOutQuart'});
    });


</script>


<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover"
                                                                         style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<!-- //for-Clients -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="../js/move-top.js"></script>
<script type="text/javascript" src="../js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>
<!-- start-smoth-scrolling -->
<!-- Calendar -->
<script src="../js/jquery-ui.js"></script>

<script src="../js/jy.js"></script>
<script>

    let i=30;
    let ttm;
    //定时器方法 按钮30秒倒计时后可用
    function  time30() {
        $("#getVcode").html("请"+i+"秒后重试");
        if(i>0){
            i--;
        }else{
            $("#getVcode").html("获取验证码");
            $("#getVcode").css("pointer-events","auto");
            window.clearInterval(ttm);
            i=30;
        }
    }
    //校验手机号
    function Phonejy(){
        let p=$("#Phone").val();
        //判断是否为空
        if(!isNull(p)){return false;}
        //判断手机号格式是否正确
        if(!isPhone(p)){return false;}
        //判断手机号是否已注册
        let f=0;
        //设置为同步
        $.ajaxSettings.async = false;
        $.post("isPhone",
            {phone: p},
            function (data) {
                f=data;
            },);
        //恢复为异步
        $.ajaxSettings.async = true;
        if(f>0){
            toastr.warning('手机号已存在,请用其他手机注册');
            return false;
        }
        return true;
    }

    function Pwdjy(){
        let param = $("#Pwdd").val();
        if(!isPwd(param)){
            return false;
        }
        return true;
    }
    function qrPwdjy(){
        let param = $("#Pwdd").val();
        let qrparam=$("#qrPwdd").val();
        if (param!=qrparam)
        {
            toastr.warning("两次密码不一致");
            return false;
        }
        return true;
    }

    $(function () {
        $("#datepicker").datepicker();
        let Vcode;
        let flag=false;
        //发送手机验证码
        $("#getVcode").click(function () {
            let ph=$("#Phone").val();
            //进行手机号校验
            if(Phonejy()) {
                $.post("getPhoneVerification",
                    {phone: ph},
                    function (data) {
                        Vcode = data;
                    });
                //发送后设置按钮为不可用(设置鼠标点击事件不可用)
                $("#getVcode").css("pointer-events","none");
                //设置30秒后按钮可用
                ttm=window.setInterval(time30,1000);
            }

        });

        //判断验证码是否正确
        $("#VCD").blur(function () {
            let Tcode = $("#VCD").val();
            if (Tcode==Vcode){
                flag=true;
            }
        });

        //总校验
        $("#reForm").submit( function () {
            let Tcode = $("#VCD").val();
            if (Tcode==Vcode){
                flag=true;
            }
            if(qrPwdjy()&&Phonejy()&&Pwdjy()&&flag){
                return true;
            }
            return false;
        } );

    });
</script>
<!-- //Calendar -->
<script type="text/javascript" src="../js/bootstrap-3.1.1.min.js"></script>


</body>
</html>