<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>评论区</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <script src="../js/jquery-2.2.3.min.js"></script>
    <script src="../js/bootstrap-3.1.1.min.js"></script>
    <!-- //for-mobile-apps -->
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/jquery-ui.css"/>
    <link href="../css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">


    <script>
        //转换时间格式
        function transferTime(cTime) {     //将json串的一串数字进行解析
            var jsonDate = new Date(parseInt(cTime));
            //       alert(jsonDate);
            //为Date对象添加一个新属性，主要是将解析到的时间数据转换为我们熟悉的“yyyy-MM-dd hh:mm:ss”样式
            Date.prototype.format = function(format) {
                var o = {
                    //获得解析出来数据的相应信息，可参考js官方文档里面Date对象所具备的方法
                    "y+": this.getFullYear(), //得到对应的年信息
                    "M+": this.getMonth() + 1, //得到对应的月信息，得到的数字范围是0~11，所以要加一
                    "d+": this.getDate(), //得到对应的日信息
                    "h+": this.getHours(), //得到对应的小时信息
                    "m+": this.getMinutes(), //得到对应的分钟信息
                    "s+": this.getSeconds(), //得到对应的秒信息
                }
                //将年转换为完整的年形式
                if(/(y+)/.test(format)) {
                    format = format.replace(RegExp.$1,    (this.getFullYear() + "") .substr(4 - RegExp.$1.length));
                }
                //连接得到的年月日 时分秒信息
                for(var k in o) {
                    if(new RegExp("(" + k + ")").test(format)) {
                        format = format.replace(RegExp.$1,  RegExp.$1.length == 1 ? o[k] : ("00" + o[k]) .substr(("" + o[k]).length));
                    }
                }
                return format;
            }
            var newDate = jsonDate.format("yyyy-MM-dd hh:mm:ss");
            return newDate;
        }

        //获取回复内容
        function huifu(){
            let val = $("#sid").val();
            let f;
            //设置为同步
            $.ajaxSettings.async = false;
            $.post("SelBC",
                {spid: val},
                function (data) {
                    f=data;
                },);
            //恢复为异步
            $.ajaxSettings.async = true;
            let col="<table class=\"table\" style='margin-left: 80px;width: 1170px;margin-top: 10px;'><caption style=\"font-weight: bold;font-size: 24px;background: black;color: white\">&nbsp;&nbsp;回帖区</caption>";
            for (let i=0;i<f.length;i++){
                let row=f[i];
                let drow='<div><tr><td style="font-weight: bold;background: grey;color: white">用户名:'+row.bmname+'</td></tr><tr><td style="font-size: 16px;font-weight: bold;background: grey;color: white">&nbsp;&nbsp;&nbsp;&nbsp;'+row.context+'</td></tr><tr><td style="text-align:right;font-weight: bold;background: grey;color: white">'+transferTime(row.commention)+'</td></tr></div>';
                col=col+drow;

            }
            col=col+"</table>";
            $("#huitie").html(col);
        }
        $(function () {
            //加载时调用获取评论方法
            huifu();

            //点击提交按钮时调用方法并刷新
            $("#fs").click(function () {
                //获取评论内容和主贴Id
                let plv = $("#pl").val();
                let spid=$("#sid").val();
                $.post("AddCP",
                    {con: plv,spid:spid},
                    function (data) {
                        let f=data;
                        if(f>0){
                            huifu();
                            $("#pl").val("");
                        }
                    });
            });

        })
    </script>
</head>

<style>
    .table tr td {
        border: 1px solid white;
    }
</style>
<body>
<div class="banner-w3ls inner-banner-agileits" id="home">
    <div class="container">
        <!-- header -->
        <div class="header-inner">
            <h1 class="logo">
                <a href="index.html">甜蜜<span>Sweet</span></a></h1>
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- navbar-header -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="../basic_message/listAll" class="active">首页</a></li>
                        <li><a href="../basic_message/zhaoboy">找男友</a></li>
                        <li><a href="../basic_message/zhaogirl">找女友</a></li>
                        <li class="dropdown menu__item">
                            <a href="#" class="dropdown-toggle menu__link"  data-toggle="dropdown" data-hover="Pages" role="button" aria-haspopup="true" aria-expanded="false">消息中心<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="../message/qlists">消息列表</a></li>
                                <li><a href="../attention/mygz">我的关注</a></li>
                            </ul>
                        </li>
                        <li><a href="../send_paste/pinglun">交友论坛</a></li>
                        <li><a href="../combo/viptc">会员</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </nav>
            <div class="header-right-w3ls">
                <a href="../basic_message/tologin">退出</a>
                <a href="../basic_message/toRegister">注册</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="w3l_agileits_breadcrumbs">
    <div class="container">
        <div class="w3l_agileits_breadcrumbs_inner">
            <ul>
                <li>主页<span>&#187;</span></li>
                <li>交友论坛<span>&#187;</span></li>
                <li>评论区</li>
            </ul>
        </div>
    </div>
</div>
<!--<ul class="breadcrumb">
    <li><a href="#">主页</a></li>
    <li><a href="#">交友论坛</a></li>
    <li class="active">评论区</li>
</ul>-->
<div class="row text-center h2" th:text="${send.title}" style="margin-bottom: 20px;font-weight: bold"></div>
<div class="container" style="background: black">
    <div class="row h5" style="font-size: 16px">
        <input type="hidden" id="sid" th:value="${send.spid}">
        &nbsp;&nbsp;<span style="color: white;margin-top: 15px;">发帖人:</span>&nbsp;<span th:text="${send.bmname}" style="font-weight: bold;color: white;margin-top: 15px;"></span><br><br/>
        &nbsp;&nbsp;<span style="color: white">回帖数:</span>&nbsp;<span th:text="${send.comcount}" style="font-weight: bold;color: white"></span><br><br/>
        &nbsp;&nbsp;<span style="color: white">发帖时间:</span>&nbsp;<span th:text="${send.sendtime}" style="font-weight: bold;color: white"></span>
    </div>
    <br>
    <span style="color: white">内容:</span>
    <div class="row h5" style="font-size: 20px">
        &nbsp; &nbsp; &nbsp; &nbsp;<span th:text="${send.context}" style="font-weight: bold;color: white"></span>
    </div>
    <br><br>
</div>
<!---评论区------>

<div id="huitie">

</div>
<!---写评论------>
<div class="form-group" style="width: 1170px;margin-left: 80px;background: grey">
    <label for="pl" style="color: white;margin-top: 15px;">&nbsp;&nbsp;回复独白</label>
    <!--<input type="text" name="soliloquy" th:value="${Dlist.soliloquy}" class="form-control" id="soliloquy" style="width: 300px">-->
    <textarea class="form-control" id="pl" style="height: 100px; color: black!important;color: white" placeholder="写下您的评论...."></textarea>
    <div align="right"><input id="fs" type="button" class="btn btn-success" value="发送"></div>
</div>
<div class="w3l_footer">
    <div class="container">
        <div class="w3ls_footer_grid">
            <div class="col-md-4 w3ls_footer_grid_left">
                <h4>位置:</h4>
                <p>Matrimonium Elite, Ipswich,<br> 河南郑州市</p>
            </div>
            <div class="col-md-4 w3ls_footer_grid_left">
                <h4>联系我们:</h4>
                <p><span>电话 : </span>505-222-5432</p>
                <p><span>电子邮箱 : </span><a href="mailto:info@example.com">info@example.com</a></p>
            </div>
            <div class="col-md-4 w3ls_footer_grid_left">
                <h4>营业时间:</h4>
                <p>工作日（上午8点至晚上9点）</p>
                <p>周日 (上午9点-下午1点)</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- footer-button-info -->
        <div class="footer-middle-agileinfo">
            <div class="footer-button">
                <div class="button-top-w3layouts">
                    <div class="logo-icons-w3ls">
                        <i class="fa fa-heart heart1" aria-hidden="true"></i>
                        <i class="fa fa-heart-o heart2" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="sim-button button12"><a href="../vip/men">联系我们</a></div>
                <h2>我们致力于提供卓越的服务.</h2>
            </div>
        </div>
        <!-- footer-button-info -->
    </div>
</div>
</body>
</html>