<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
<title>Elite Match a Matrimonial Category Bootstrap Responsive Website Template  | Single :: W3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Elite Match Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../css/font-awesome.css" rel="stylesheet">
<link href="../css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
<link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../css/toastr.min.css" rel='stylesheet' type='text/css'/>
<!--fonts-->
<link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
<!--//fonts-->

</head>
<body>
<input type="hidden" th:value="${bmids}" id="bmid">
<!--banner start here-->
<div class="banner-w3ls inner-banner-agileits" id="home">
	<div class="container">
		<!-- header -->
		<div class="header-inner">
			<h1 class="logo">
				<a href="index.html">甜蜜<span>Sweet</span></a></h1>
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- navbar-header -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="../basic_message/listAll" class="active">首页</a></li>
						<li><a href="../basic_message/zhaoboy">找男友</a></li>
						<li><a href="../basic_message/zhaogirl">找女友</a></li>
						<li class="dropdown menu__item">
							<a href="#" class="dropdown-toggle menu__link"  data-toggle="dropdown" data-hover="Pages" role="button" aria-haspopup="true" aria-expanded="false">消息中心<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="../message/qlists">消息列表</a></li>
								<li><a href="../attention/mygz">我的关注</a></li>
							</ul>
						</li>
						<li><a href="../send_paste/pinglun">交友论坛</a></li>
						<li><a href="../combo/viptc">会员</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</nav>
			<div class="header-right-w3ls">
				<a href="../basic_message/tologin">退出</a>
				<a href="../basic_message/toRegister">注册</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//home-->
<!--banner end here-->
<!--判断当前登陆人的会员状态-->
<span th:each="lvs : ${sfvip}">
	<select name="vip" style="display: none">
		<option th:value="${lvs.vip}"></option>
	</select>
</span>
<!-- breadcrumbs -->
<div class="w3l_agileits_breadcrumbs">
   <div class="container">
		<div class="w3l_agileits_breadcrumbs_inner">
			<ul>
				<li><a href="../basic_message/listAll">主页</a><span>&#187;</span></li>

				<li>详情</li>
				</ul>
		</div>
	</div>
</div>
<!-- //breadcrumbs -->
<span th:each="l : ${listId}">
<div class="matches elite-app">
		<div class="container">
		<div class="tittle-agileinfo">
			<h3 th:text="${l.bmname}" style="display: inline-block;margin-left: 500px;"></h3><i class="fa fa-heart" th:if="${l.friendstate eq 2}" style="color: red"></i>&nbsp;<img src="../images/baitu.png" style="width: 20px;height: 20px;" name="sss">
			<!--用于获取会员状态-->
            <input type="hidden" name="VIP" th:value="${l.VIP}">
		</div>
		<div class="matches-main-agileinfo">
			<div>
				<img th:src="${l.pic}" style="height: 382px;width:380px">
			</div>
			<div class="col-md-6 person-info-agileits-w3layouts" style="position:absolute;right: 10px;top:410px">
				<ul>
					<li><span style="width: 50px;">年龄:</span><p th:text="${l.age}" style="display: inline-block"></p></li>
					<li><span style="width: 50px;">性别:</span><p th:text="${l.sex==0?'女':'男'}" style="display: inline-block"></p></li>
					<li><span style="width: 50px;">ID:</span><p th:text="${l.number}" style="display: inline-block"></p></li>
					<li><span style="width: 50px;">学历:</span><p th:text="${l.education}" style="display: inline-block"></p></li>
					<li><span style="width: 100px;">婚姻状况:</span>
						<td th:switch="${l.marriage}">
							<p th:case="0" style="display: inline-block">未婚</p>
							<p th:case="1" style="display: inline-block">已婚</p>
							<p th:case="2" style="display: inline-block">丧偶</p>
						</td>
					</li>
					<li><span style="width: 50px;">身高:</span><p th:text="${l.height}" style="display: inline-block"></p></li>
					<li><span style="width: 50px;">工资:</span><p th:text="${l.monthly}" style="display: inline-block"></p></li>
					<li><span style="width: 50px;">地址:</span><p th:text="${l.address}" style="display: inline-block"></p></li>
					<li>
						<form action="../attention/guanzhur" method="post" id="guanzhu">
							<!--被关注人id-->
							<input type="hidden" name="baid" th:value="${l.dmid}" id="bgj"/>
						</form>
						<a href="#" onclick="gz()">关注</a>
						<a data-toggle="modal" href="#FaMessage" >发消息</a>
						<a th:href="@{'../basic_message/findAllByIdt?bmid='+${l.bmid}}">举报此人</a>
						<a href="#" onclick="qjw(this)" th:name="${l.bmid}">求交往</a>
						<input type="hidden" th:value="${l.friendstate}">
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			<div class="about-person">
				<h6>内心独白:</h6>
				<p class="para-agileits-w3layouts"><span>Hi!, Iam <span th:text="${l.truename}"></span></span><p th:if="${l.soliloquy} == null ">尚未填写内心独白</p><p th:if="${l.soliloquy} != null "><p th:text="${l.soliloquy}"></p></p><p>Wish to get a heart white head not to separate</p></p>
			</div>
		</div>
			<div class="col-md-6 person-info-agileits-w3layouts" style="height:250px;width: 350px;margin-left:50px">
				<h3>择偶 条件</h3>
				<ul>
					<li><span>最大年龄:</span><p th:text="${l.lage}" style="display: inline-block"></p></li>
					<li><span>最小年龄:</span><p th:text="${l.bage}" style="display: inline-block"></p></li>
					<li><span>身高:</span><p th:text="${l.height}" style="display: inline-block"></p></li>
					<li><span>学历:</span><p th:text="${l.education}" style="display: inline-block"></p></li>
					<li><span>婚姻状况:</span>
						<td th:switch="${l.marriage}">
							<p th:case="0" style="display: inline-block">未婚</p>
							<p th:case="1" style="display: inline-block">已婚</p>
							<p th:case="2" style="display: inline-block">丧偶</p>
						</td>
					</li>
					<li><span>月收入:</span><p th:text="${l.monthly}" style="display: inline-block"></p></li>
				</ul>
			</div>
			<div class="col-md-6 person-info-agileits-w3layouts" style="height:250px;width: 350px">
				<h3>工作 生活</h3>
				<ul>
					<li><span>买房情况:</span><p th:text="${l.buyhouse==0?'未买房':'已买房'}" style="display: inline-block"></p></li>
					<li><span>买车情况:</span><p th:text="${l.buycar==0?'未买车':'已买车'}" style="display: inline-block"></p></li>
					<li><span>是否抽烟:</span><p th:text="${l.smoking==0?'不抽烟':'抽烟'}" style="display: inline-block"></p></li>
					<li><span>是否喝酒:</span><p th:text="${l.drink==0?'不喝酒':'喝酒'}" style="display: inline-block"></p></li>
				</ul>
			</div>
			<div class="col-md-6 person-info-agileits-w3layouts" style="height:250px;width: 350px">
				<h3>兴趣 爱好</h3>
				<ul>
					<li><span>最喜欢的城市:</span><p th:text="${l.city}" style="display: inline-block"></p></li>
					<li><span>最喜欢的书:</span><p th:text="${l.book}" style="display: inline-block"></p></li>
					<li><span>最喜欢做的事:</span><p th:text="${l.hobby}" style="display: inline-block"></p></li>
				</ul>
			</div>

		</div>

</div>
<!--模态框-->
<div class="modal fade" id="FaMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					消息
				</h4>
			</div>
			<div class="modal-body">
				<!--主体内容-->
				<form role="form" action="../message/add" method="post" id="messagefm">
					<!--发送的用户-->
					<input type="hidden" name="one" th:value="${l.dmid}" id="fsid">
					<div class="form-group">
						<textarea name="context" maxlength="100" id="context" placeholder="请输入你要发送的内容" style="width: 563px;height: 100px"></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-success" data-dismiss="modal" onclick="send()">发送</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
</span>
<!--login-inner-->
<!-- footer -->
<div class="w3l_footer">
	<div class="container">
		<div class="w3ls_footer_grid">
			<div class="col-md-4 w3ls_footer_grid_left">
				<h4>位置:</h4>
				<p>Matrimonium Elite, Ipswich,<br> 河南郑州市</p>
			</div>
			<div class="col-md-4 w3ls_footer_grid_left">
				<h4>联系我们:</h4>
				<p><span>电话 : </span>505-222-5432</p>
				<p><span>电子邮箱 : </span><a href="mailto:info@example.com">info@example.com</a></p>
			</div>
			<div class="col-md-4 w3ls_footer_grid_left">
				<h4>营业时间:</h4>
				<p>工作日（上午8点至晚上9点）</p>
				<p>周日 (上午9点-下午1点)</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- footer-button-info -->
		<div class="footer-middle-agileinfo">
			<div class="footer-button">
				<div class="button-top-w3layouts">
					<div class="logo-icons-w3ls">
						<i class="fa fa-heart heart1" aria-hidden="true"></i>
						<i class="fa fa-heart-o heart2" aria-hidden="true"></i>
					</div>
				</div>
				<div class="sim-button button12"><a href="../vip/men">联系我们</a></div>
				<h2>我们致力于提供卓越的服务.</h2>
			</div>
		</div>
		<!-- footer-button-info -->
	</div>
</div>
<!--/footer -->

<!-- js -->
<script type='text/javascript' src='../js/jquery-2.2.3.min.js'></script>
<!-- script for responsive tabs -->
<script src="../js/easy-responsive-tabs.js"></script>
<script>
$(document).ready(function () {
	toastr.options = {
		"positionClass": "toast-top-center"//弹出窗的位置上方居中
	};
$('#horizontalTab').easyResponsiveTabs({
type: 'default', //Types: default, vertical, accordion
width: 'auto', //auto or any width like 600px
fit: true,   // 100% fit in a container
closed: 'accordion', // Start closed if in accordion view
activate: function(event) { // Callback function if tab is switched
var $tab = $(this);
var $info = $('#tabInfo');
var $name = $('span', $info);
$name.text($tab.text());
$info.show();
}
});
$('#verticalTab').easyResponsiveTabs({
type: 'vertical',
width: 'auto',
fit: true
});
});
</script>
<!-- script for responsive tabs -->


<script src="../js/SmoothScroll.min.js"></script>
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear'
			};
		*/
		$().UItoTop({ easingType: 'easeOutQuart' });
		//获取name等于vip的input框
		let vips=$("input[name='VIP']").val();
		//如果是会员
		if(vips==0){
			//设置会员图标
		    $("img[name='sss']").attr("src","../images/SVIP2.jpg");
        }
		});

	</script>


	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
	<!-- //for-Clients -->
	<!-- start-smoth-scrolling -->
<script type="text/javascript" src="../js/move-top.js"></script>
<script type="text/javascript" src="../js/easing.js"></script>
<script type="text/javascript" src="../js/toastr.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
	//求交往
	function qjw(jwval){
		let hisId=$(jwval).attr("name");
		let bm=$("#bmid").val();
		let friendstate=$(jwval).next().val();
		let friend="0";
		//查询是否发过邀请
		$.ajaxSettings.async = false;
		$.post("friendisnull", {bmid: bm}, function (data) {
			friend=data;
		});
		$.ajaxSettings.async = true;

		//判断是否请求过用户
		if(friend=="0") {
			//判断用户是否被请求过
			if (friendstate == "0") {
				//判断是否是自己
				if (hisId == bm) {
					toastr.warning("这是您自己啊亲");
				} else {
					$.ajaxSettings.async = false;
					$.post("QJW", {hisId: hisId, thisbmid: bm}, function (data) {
						if (data == "1") {
							toastr.success("您的交往请求已经提交");
							$(jwval).next().val("1")
						}
					});
					$.ajaxSettings.async = true;
				}
			} else {
				toastr.warning("已经被邀请过了")
			}
		}else{
			toastr.warning("只能发送一个邀请,不能花心哦!")
		}
	}
	//发消息
	function send() {
		//获取当前登陆人的vip状态
		let gzv=$("select[name=vip]").val();
		//如果不是会员
		if(gzv==1) {
			//跳转开通会员页面
			location.href = "../combo/viptc";
		}else {
			let f=$("#fsid").val();
			let c=$("#context").val();
			$.ajax({
				url:"../attention/jyinfos",
				data:{"one":f},
				success:function (data) {
					if(data==1){
						toastr.warning("自己不能给自己发消息哦!")
					}
					if(data==0){
						if(c==undefined || c==null || c==''){
							toastr.warning("消息不能为空")
						}else {
							$("#messagefm").submit();
							toastr.warning("发送成功")
						}
					}
				}
			});
		}
	}
	//关注
	function gz() {
		//获取当前登陆人的vip状态
		let gzv=$("select[name=vip]").val();
		//如果不是会员
		if(gzv==1){
			//跳转开通会员页面
			location.href="../combo/viptc";
		}else {
			let z=$("#bgj").val();
			$.ajax({
				url:"../attention/jygzr",
				data:{"baid":z},
				success:function (data) {
					if(data==1){
						/*alert("自己不能关注自己哦!");*/
						toastr.warning("自己不能关注自己哦!");
					}
					if(data==2){
						toastr.warning("已经关注过了哦!")
					}
					if(data==0){
						let xy=$("#bgj").val();
						/*alert(xy);*/
						let cg=$("#guanzhu").submit();
						if(xy!=null || xy!='' || xy!=undefined){
							toastr.warning("关注成功");
						}else {
							toastr.warning("关注失败");
						}
					}
				}
			});
		}
	}
</script>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="../js/bootstrap-3.1.1.min.js"></script>

</body>
</html>